/***************************************************************
 *Responsive Breakpoints
 ***************************************************************/
$tiny-device: 30em !default; //Phones 480 and up
$small-device: 48em !default; //Tablets 768px and up
$medium-device: 62em !default; //Desktop 992px and up
$large-device: 75em !default; //Larger Desktops 1200px and up