<!DOCTYPE html>
<html>
	<head>
		<meta chaset="utf-8">
		<meta name="vieport" content="width=device-width, initial-scale=1, minimal-ui">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<title>House Of Consultants</title>
	</head>
	<body class="">
		<div class="outer-wrap">
			<div class="inner-wrap">
				<header>
					<button id="nav-toggle" type="button" class="navbar-toggle">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar icon-bar-top"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar icon-bar-bot"></span>
					</button>
				</header>
				<div id="main-navigation">
					<nav class="container">
						<div class="logo">
							<h1><a href="/"><img src="images/logo-116X41.jpg" alt="House of consultants ltd"/></a></h1>
						</div>
						<ul>
							<li><a href="#about">About</a></li>
							<li><a href="#">Consultants</a></li>
							<li><a href="#">Section</a></li>
							<li><a href="#">Section</a></li>
							<li><a href="#">Section</a></li>
						</ul>
					</nav>
				</div>

				<div class="parallax">

				  <div id="banner" class="parallax__group">
				    <div class="parallax__layer parallax__layer--back"><div class="parallax-overlay-pattern"></div></div>
				    <div class="parallax__layer parallax__layer--base">

				      <div class="centered-content container">
				      	<img src="images/logo-461x161.png" alt="House of consultants ltd"/>
				      	<h2><span>Protecting Life</span><br><span>Protecting Assets</span><br><span>Protecting Reputation</span></h2>
				      </div>
				    </div>
				  </div>

				  <div id="about" class="parallax__group">
				  	<div class="parallax__layer parallax__layer--back"><div class="parallax-overlay-pattern"></div></div>
				    <div class="parallax__layer parallax__layer--base">
				    	<div class="container">
				    		<div class="row">
				    			<div class="col-2-of-4">
						      	<h2>Who We Are</h2>
						      	<p>We are a UK Registered company, built upon a network of high level connections within the fields of risk assessment, physical protection and security services.</p>
										<p>Our Board of Directors come from within British intelligence and Government Departments and have wide experience in Policing, the Military and Intelligence services.</p>
									</div>
									<div class="col-2-of-4">
										<h3>Our Skills Sets</h3>
										<ul>
											<li>Risk assessment</li>
											<li>Cyber warfare analysis &amp; mitigation</li>
											<li>Intelligence gathering technology</li>
											<li>Tracking technology</li>
											<li>Counter surveillance technology</li>
											<li>Hostile vehicle mitigation</li>
											<li>Disaster recovery and emergency planning</li>
											<li>Expeditionary camp infrastructure</li>
											<li>Temporary landing systems</li>
											<li>Physical perimeter security</li>
											<li>Protection of Critical National Infrastructure</li>
										</ul>
									</div>
								</div>
				      </div>
				    </div>
				  </div>

				  <div id="core-team" class="parallax__group">
				  	<div class="parallax__layer parallax__layer--base">
				  		<div class="container">
				  			<div class="row">
				  				<div class="col-1-of-5">
				  					1
				  				</div>
				  				<div class="col-1-of-5">
				  					2
				  				</div>
				  				<div class="col-1-of-5">
				  					3
				  				</div>
				  				<div class="col-1-of-5">
				  					4
				  				</div>
				  				<div class="col-1-of-5">
				  					5
				  				</div>
				  			</div>
				  		</div>
				  	</div>
				  </div>

				</div>

			</div><!--End .inner-wrap-->
		</div><!--End .outer-wrap-->
		<script src="//localhost:9091"></script> 
	</body>
</html>