<!DOCTYPE html>
<html>
	<head>
		<meta chaset="utf-8">
		<meta name="vieport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>
		<div class="outer-page-wrap">
		<header>
			<nav id="main-navigation">
				<div class="logo">
					<h1><a href="#">LOGO</a></h1>
				</div>
				<ul>
					<li><a href="#">About</a></li>
				</ul>
			</nav>
			<div class="inner-page-wrap">
			</div>
		</header>
		</div>
		<script src="//localhost:9091"></script> 
	</body>
</html>